
<ion-app>
  <ion-router-outlet [animated]="true" [ngClass]="{
    'with-footer': showFooterAndAudio,
    'with-footer-and-player': showFooterAndAudio && audioState.currentTrack
  }"></ion-router-outlet>
  <app-global-audio-player
    *ngIf="showFooterAndAudio"
    [audioUrl]="audioState.currentTrack?.audioUrl || ''"
    [title]="audioState.currentTrack?.title || ''"
    [photoUrl]="audioState.currentTrack?.photoUrl || ''"
    [description]="audioState.currentTrack?.description || ''"
    [r2Path]="audioState.currentTrack?.r2Path || ''"
    [storyId]="audioState.currentTrack?.storyId || ''"
    [resumePosition]="0"
  ></app-global-audio-player>
  <app-nav-footer *ngIf="showFooterAndAudio"></app-nav-footer>
</ion-app>
